<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_xanh/BG_xepbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,59},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>BT_xanh/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,114},{80,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,16}}</string>
                <key>sourceSize</key>
                <string>{80,16}</string>
            </dict>
            <key>BT_xanh/content/hbg_0008_X-p-B-i.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
            <key>BT_xanh/content/light0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,149},{13,14}}</string>
                <key>offset</key>
                <string>{-55,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,14}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,196},{21,24}}</string>
                <key>offset</key>
                <string>{-51,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,113},{29,34}}</string>
                <key>offset</key>
                <string>{-47,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{37,42}}</string>
                <key>offset</key>
                <string>{-42,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,42}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,459},{45,48}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{53,48}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{63,48}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,289},{71,48}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{71,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,276},{77,48}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{77,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,214},{81,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{81,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,164},{81,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{81,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,114},{81,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{81,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,64},{81,48}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{81,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,114},{81,48}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{81,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,326},{75,48}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,1},{75,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,127},{67,48}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,1},{67,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,353},{59,48}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,1},{59,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,326},{51,48}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,1},{51,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,459},{43,48}}</string>
                <key>offset</key>
                <string>{39,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,1},{43,48}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0021.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,468},{35,40}}</string>
                <key>offset</key>
                <string>{43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{35,40}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0022.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,59},{27,30}}</string>
                <key>offset</key>
                <string>{47,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,19},{27,30}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0023.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,222},{19,22}}</string>
                <key>offset</key>
                <string>{51,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,27},{19,22}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>BT_xanh/content/light0024.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,149},{11,12}}</string>
                <key>offset</key>
                <string>{55,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,37},{11,12}}</string>
                <key>sourceSize</key>
                <string>{123,50}</string>
            </dict>
            <key>Bacaithung1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,376},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,60}}</string>
                <key>sourceSize</key>
                <string>{210,62}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{202,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,55}}</string>
                <key>sourceSize</key>
                <string>{202,55}</string>
            </dict>
            <key>light0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,64},{9,12}}</string>
                <key>offset</key>
                <string>{-97,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{9,12}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,88},{23,30}}</string>
                <key>offset</key>
                <string>{-91,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,30}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,459},{35,50}}</string>
                <key>offset</key>
                <string>{-84,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,50}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,403},{49,54}}</string>
                <key>offset</key>
                <string>{-77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,233},{63,54}}</string>
                <key>offset</key>
                <string>{-71,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{63,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,276},{75,54}}</string>
                <key>offset</key>
                <string>{-64,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,58},{89,54}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{103,54}}</string>
                <key>offset</key>
                <string>{-51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,220},{109,54}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{109,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{111,54}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{111,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,183},{109,54}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,1},{109,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,164},{109,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,1},{109,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{109,54}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,1},{109,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,127},{109,54}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,1},{109,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{111,54}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{111,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{103,54}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,1},{103,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{91,54}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,1},{91,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,264},{77,54}}</string>
                <key>offset</key>
                <string>{62,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,1},{77,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,177},{65,54}}</string>
                <key>offset</key>
                <string>{68,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,1},{65,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0021.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,403},{51,54}}</string>
                <key>offset</key>
                <string>{75,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,1},{51,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0022.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,403},{39,54}}</string>
                <key>offset</key>
                <string>{81,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,1},{39,54}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0023.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{25,34}}</string>
                <key>offset</key>
                <string>{88,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,21},{25,34}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
            <key>light0024.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,243},{11,16}}</string>
                <key>offset</key>
                <string>{95,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,39},{11,16}}</string>
                <key>sourceSize</key>
                <string>{205,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1dcc356a5b8381c0abf57c8b98dee5f0:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
