<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Choingay1/Choi ngay/A.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,512},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>Choingay1/Choi ngay/K.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,455},{70,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,103}}</string>
                <key>sourceSize</key>
                <string>{70,103}</string>
            </dict>
            <key>Choingay1/Choi ngay/Layer 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,113},{117,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,107}}</string>
                <key>sourceSize</key>
                <string>{117,107}</string>
            </dict>
            <key>Choingay1/Choi ngay/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{32,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,91}}</string>
                <key>sourceSize</key>
                <string>{32,91}</string>
            </dict>
            <key>Choingay1/Choi ngay/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,124},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>Choingay1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,120}}</string>
                <key>sourceSize</key>
                <string>{341,120}</string>
            </dict>
            <key>Choingay1/Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,222},{170,107}}</string>
                <key>offset</key>
                <string>{-80,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{170,107}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{234,107}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{234,107}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{284,109}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{284,109}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{256,109}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,3},{256,109}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,331},{192,109}}</string>
                <key>offset</key>
                <string>{69,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,3},{192,109}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{130,109}}</string>
                <key>offset</key>
                <string>{100,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,3},{130,109}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,442},{68,109}}</string>
                <key>offset</key>
                <string>{131,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,3},{68,109}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,113},{1,1}}</string>
                <key>offset</key>
                <string>{-164.5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,298},{189,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,47}}</string>
                <key>sourceSize</key>
                <string>{189,47}</string>
            </dict>
            <key>Choingay1/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,95},{3,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,92}}</string>
                <key>sourceSize</key>
                <string>{3,92}</string>
            </dict>
            <key>Choingay1/Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{106,106}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>Choingay1/Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,189},{44,107}}</string>
                <key>offset</key>
                <string>{-143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{44,107}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
            <key>Choingay1/Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,442},{108,107}}</string>
                <key>offset</key>
                <string>{-111,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{108,107}}</string>
                <key>sourceSize</key>
                <string>{330,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea6f84a724f274078c7fe0d93081de7:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
