<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,89},{4,3}}</string>
                <key>offset</key>
                <string>{-71,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{4,3}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,88},{16,13}}</string>
                <key>offset</key>
                <string>{-66,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,13}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,89},{24,23}}</string>
                <key>offset</key>
                <string>{-61,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,289},{34,31}}</string>
                <key>offset</key>
                <string>{-56,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,31}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,157},{46,39}}</string>
                <key>offset</key>
                <string>{-51,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,39}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,284},{54,45}}</string>
                <key>offset</key>
                <string>{-46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,237},{64,45}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{76,45}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,190},{84,45}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,143},{94,45}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{98,45}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{98,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{98,45}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{98,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,49},{98,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{98,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{98,45}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{98,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{96,45}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,1},{96,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{90,45}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,1},{90,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,205},{82,45}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,1},{82,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{72,45}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,1},{72,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,237},{62,45}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,1},{62,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,301},{52,45}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,1},{52,45}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,116},{42,39}}</string>
                <key>offset</key>
                <string>{52,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,7},{42,39}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,55},{32,29}}</string>
                <key>offset</key>
                <string>{57,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,17},{32,29}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,190},{22,21}}</string>
                <key>offset</key>
                <string>{62,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,25},{22,21}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>Symbol 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,103},{12,11}}</string>
                <key>offset</key>
                <string>{67,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,35},{12,11}}</string>
                <key>sourceSize</key>
                <string>{148,47}</string>
            </dict>
            <key>but_0000_X-p-xong.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{117,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,31}}</string>
                <key>sourceSize</key>
                <string>{117,31}</string>
            </dict>
            <key>but_0002_button-copy.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,51}}</string>
                <key>sourceSize</key>
                <string>{148,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3fa9a71bbc1603f6546614ad5eba76d:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
