<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,299},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Symbol 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{7,8}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,8}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>Symbol 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,385},{11,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>Symbol 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,424},{20,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>Symbol 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,405},{27,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>Symbol 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,330},{31,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{35,15}</string>
            </dict>
            <key>Symbol 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,405},{34,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,15}}</string>
                <key>sourceSize</key>
                <string>{38,15}</string>
            </dict>
            <key>Symbol 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,359},{37,16}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,16}}</string>
                <key>sourceSize</key>
                <string>{41,18}</string>
            </dict>
            <key>Symbol 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,299},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>Symbol 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,385},{15,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,11}}</string>
                <key>sourceSize</key>
                <string>{15,11}</string>
            </dict>
            <key>coin_rotate_0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{50,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_rotate_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,347},{30,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{30,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_rotate_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,398},{24,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{24,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_rotate_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,442},{48,56}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_rotate_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{56,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin_rotate_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{52,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,359},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>playnow_flash1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,256},{41,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{41,88}}</string>
                <key>sourceSize</key>
                <string>{49,94}</string>
            </dict>
            <key>shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{89,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{89,72}}</string>
                <key>sourceSize</key>
                <string>{103,80}</string>
            </dict>
            <key>tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,256},{71,57}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{71,57}}</string>
                <key>sourceSize</key>
                <string>{79,69}</string>
            </dict>
            <key>texture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{252,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:076fffaa5b2a39df0d0ad90e02789035:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
