<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SIDE-POT-WINNER1/1_Symbol 6_sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,114},{23,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,10}}</string>
                <key>sourceSize</key>
                <string>{23,10}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,67},{15,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,8}}</string>
                <key>sourceSize</key>
                <string>{15,8}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,67},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,42},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,39},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,86},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,37}}</string>
                <key>sourceSize</key>
                <string>{23,37}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,30},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,86},{26,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{26,10}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{17,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,9}}</string>
                <key>sourceSize</key>
                <string>{17,9}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,20},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,21},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,17},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bf480420f865ae1f27d3de8a10cf753:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
