<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,350},{65,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,146}}</string>
                <key>sourceSize</key>
                <string>{67,148}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,239},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,711},{50,22}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{50,22}}</string>
                <key>sourceSize</key>
                <string>{54,26}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,763},{107,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,187}}</string>
                <key>sourceSize</key>
                <string>{109,189}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,498},{137,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,89}}</string>
                <key>sourceSize</key>
                <string>{137,89}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,968},{45,49}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{45,49}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1499},{136,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,189}}</string>
                <key>sourceSize</key>
                <string>{136,189}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{153,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{153,248}}</string>
                <key>sourceSize</key>
                <string>{153,252}</string>
            </dict>
            <key>arm_left.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1015},{38,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,119}}</string>
                <key>sourceSize</key>
                <string>{38,119}</string>
            </dict>
            <key>arm_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,95},{75,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,142}}</string>
                <key>sourceSize</key>
                <string>{77,142}</string>
            </dict>
            <key>arm_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{91,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,76}}</string>
                <key>sourceSize</key>
                <string>{95,76}</string>
            </dict>
            <key>armright2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,952},{102,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,65}}</string>
                <key>sourceSize</key>
                <string>{102,65}</string>
            </dict>
            <key>body_back.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1792},{144,165}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{144,165}}</string>
                <key>sourceSize</key>
                <string>{144,189}</string>
            </dict>
            <key>body_top.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1123},{162,231}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,231}}</string>
                <key>sourceSize</key>
                <string>{176,241}</string>
            </dict>
            <key>d_00.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,960},{148,221}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{148,221}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1191},{162,205}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{162,205}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1436},{172,189}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{172,189}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1615},{182,175}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{182,175}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_07.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1792},{180,179}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_08.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1019},{170,197}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{170,197}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>d_09.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1110},{156,213}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{156,213}}</string>
                <key>sourceSize</key>
                <string>{186,223}</string>
            </dict>
            <key>ear_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,239},{8,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,18}}</string>
                <key>sourceSize</key>
                <string>{10,20}</string>
            </dict>
            <key>earring_right.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,448},{10,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,22}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>flate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,350},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hand_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,306},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,67}}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>head.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,637},{88,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,111}</string>
            </dict>
            <key>l_00.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,918},{297,247}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{297,247}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,679},{301,237}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{301,237}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_02.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,448},{305,229}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{305,229}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,237},{309,221}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{309,221}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,227},{311,219}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{311,219}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_05.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,227},{311,219}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{311,219}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_06.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{313,223}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{313,223}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_07.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{313,227}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{313,227}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_08.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{311,233}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{311,233}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_09.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{307,239}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{307,239}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{303,245}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{303,245}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_11.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,460},{301,249}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{301,249}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,719},{299,247}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{299,247}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>l_13.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,711},{297,247}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{297,247}}</string>
                <key>sourceSize</key>
                <string>{329,255}</string>
            </dict>
            <key>lip.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1136},{31,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1136},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>t_00.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1268},{194,166}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{194,166}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>t_01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1355},{190,166}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{190,166}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>t_03.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{192,162}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{192,162}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>t_04.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1335},{194,162}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{194,162}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>t_05.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1287},{198,162}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{198,162}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
            <key>t_09.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1167},{198,166}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{198,166}}</string>
                <key>sourceSize</key>
                <string>{206,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a6390da9427a131686de0390a44593e:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
