<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BG_U.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,0},{227,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,135}}</string>
			<key>sourceSize</key>
			<string>{227,135}</string>
		</dict>
		<key>Chu_Nhat.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,218},{106,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,47}}</string>
			<key>sourceSize</key>
			<string>{106,47}</string>
		</dict>
		<key>Chu_U.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,203},{32,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,47}}</string>
			<key>sourceSize</key>
			<string>{32,47}</string>
		</dict>
		<key>Chu_Ukhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,136},{134,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,40}}</string>
			<key>sourceSize</key>
			<string>{134,40}</string>
		</dict>
		<key>Chu_Utron.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,177},{129,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{129,40}}</string>
			<key>sourceSize</key>
			<string>{130,40}</string>
		</dict>
		<key>Symbol 1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{283,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,278}}</string>
			<key>sourceSize</key>
			<string>{283,278}</string>
		</dict>
		<key>flare.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,136},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{66,66}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>sao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,236},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>texture.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>texture.png</string>
	</dict>
</dict>
</plist>
