<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,225}}</string>
                <key>sourceSize</key>
                <string>{209,225}</string>
            </dict>
            <key>Light_00000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,42},{150,32}}</string>
                <key>offset</key>
                <string>{31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,383},{124,56}}</string>
                <key>offset</key>
                <string>{42,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,1},{124,56}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,397},{100,82}}</string>
                <key>offset</key>
                <string>{55,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{100,82}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,188},{72,84}}</string>
                <key>offset</key>
                <string>{68,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,2},{72,84}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{64,84}}</string>
                <key>offset</key>
                <string>{72,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,2},{64,84}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,172},{88,78}}</string>
                <key>offset</key>
                <string>{59,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,8},{88,78}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,397},{112,60}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,26},{112,60}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{136,40}}</string>
                <key>offset</key>
                <string>{32,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,46},{136,40}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{150,38}}</string>
                <key>offset</key>
                <string>{14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{150,38}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,229},{152,36}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,50},{152,36}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{142,34}}</string>
                <key>offset</key>
                <string>{-37,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{142,34}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,378},{122,58}}</string>
                <key>offset</key>
                <string>{-47,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{122,58}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,397},{94,82}}</string>
                <key>offset</key>
                <string>{-59,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{94,82}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,140},{72,84}}</string>
                <key>offset</key>
                <string>{-72,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,88},{64,82}}</string>
                <key>offset</key>
                <string>{-76,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,82}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,262},{90,76}}</string>
                <key>offset</key>
                <string>{-63,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,76}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,262},{114,58}}</string>
                <key>offset</key>
                <string>{-50,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,58}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,148},{136,38}}</string>
                <key>offset</key>
                <string>{-36,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,38}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,229},{152,36}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{152,36}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,76},{148,34}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{148,34}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Light_00020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,42},{150,32}}</string>
                <key>offset</key>
                <string>{31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,0},{150,32}}</string>
                <key>sourceSize</key>
                <string>{216,86}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{166,166}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,262},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{56,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{27,27}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f127627a5181ca18280c658a8066c35:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
