<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon11/Layer 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,77},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>Icon11/Layer 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{77,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,72}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>Icon11/Layer 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{89,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,107}}</string>
                <key>sourceSize</key>
                <string>{89,107}</string>
            </dict>
            <key>Icon11/Layer 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,190},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
            <key>Icon11/Layer 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,48}}</string>
                <key>sourceSize</key>
                <string>{212,48}</string>
            </dict>
            <key>Icon11/Layer 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,126},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>Icon11/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,52},{48,72}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>Icon11/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,128},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>Icon11/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,52},{70,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>Icon11/Symbol 1_sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{9,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{9,11}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>Icon11/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{124,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,33}}</string>
                <key>sourceSize</key>
                <string>{124,33}</string>
            </dict>
            <key>Icon11/Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,134},{52,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,39}}</string>
                <key>sourceSize</key>
                <string>{52,39}</string>
            </dict>
            <key>Icon11/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,190},{49,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,63}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b31299d9197ddb93917f43dae07a7b18:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
