<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bacaisanh1/bang_sanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{315,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,151}}</string>
                <key>sourceSize</key>
                <string>{315,151}</string>
            </dict>
            <key>Bacaisanh1/chu_sanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{190,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,35}}</string>
                <key>sourceSize</key>
                <string>{190,35}</string>
            </dict>
            <key>Bacaisanh1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,39},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Bacaisanh1/sao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,378},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Bacaisanh1/tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,39},{162,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,84},{18,17}}</string>
                <key>offset</key>
                <string>{-125,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,36},{18,17}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{102,89}}</string>
                <key>offset</key>
                <string>{82,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,36},{102,89}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,448},{60,81}}</string>
                <key>offset</key>
                <string>{103,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,44},{60,81}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,66},{16,19}}</string>
                <key>offset</key>
                <string>{105,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,106},{16,19}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,253},{52,43}}</string>
                <key>offset</key>
                <string>{-108,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{52,43}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,367},{110,107}}</string>
                <key>offset</key>
                <string>{-78,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{110,107}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{134,123}}</string>
                <key>offset</key>
                <string>{-55,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{134,123}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{152,123}}</string>
                <key>offset</key>
                <string>{-38,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{152,123}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,126},{160,125}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{160,125}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,253},{144,123}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,6},{144,123}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,155},{148,111}}</string>
                <key>offset</key>
                <string>{40,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,18},{148,111}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,268},{140,97}}</string>
                <key>offset</key>
                <string>{63,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,32},{140,97}}</string>
                <key>sourceSize</key>
                <string>{270,129}</string>
            </dict>
            <key>contents_sanh/bb_0011_card1-copy-31.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,538},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bb_0012_card1-copy-22.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,538},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bb_0014_card1-copy-23.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,618},{76,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,94}}</string>
                <key>sourceSize</key>
                <string>{76,94}</string>
            </dict>
            <key>contents_sanh/bb_0015_card1-copy-23.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,636},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>contents_sanh/bb_0016_card1-copy-7.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bb_0017_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,556},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bb_0023_card1-copy-20.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,538},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0000_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0001_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,476},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0002_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,458},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0004_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,458},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0006_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,378},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>contents_sanh/bton1_0007_card1-copy-33.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,378},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a739513a76d91b012c0725e099922e87:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
