<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BG_mom.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,409},{213,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,123}}</string>
			<key>sourceSize</key>
			<string>{213,123}</string>
		</dict>
		<key>Chubet.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,583},{75,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,48}}</string>
			<key>sourceSize</key>
			<string>{75,48}</string>
		</dict>
		<key>Chuden.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,533},{91,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,54}}</string>
			<key>sourceSize</key>
			<string>{91,54}</string>
		</dict>
		<key>Chumom.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,533},{118,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,49}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>flare.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,632},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{66,66}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>light_nhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{408,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,231}}</string>
			<key>sourceSize</key>
			<string>{408,231}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>texture.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>texture.png</string>
	</dict>
</dict>
</plist>
