<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,228},{17,20}}</string>
                <key>offset</key>
                <string>{-124,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{17,20}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{97,88}}</string>
                <key>offset</key>
                <string>{83,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,12},{97,88}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,337},{55,62}}</string>
                <key>offset</key>
                <string>{104,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,30},{55,62}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,247},{13,14}}</string>
                <key>offset</key>
                <string>{118,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,76},{13,14}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,286},{49,56}}</string>
                <key>offset</key>
                <string>{-107,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{49,56}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,496},{93,86}}</string>
                <key>offset</key>
                <string>{-86,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,86}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{127,90}}</string>
                <key>offset</key>
                <string>{-67,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{127,90}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,102},{149,96}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{149,96}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,152},{145,102}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,1},{145,102}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,200},{143,102}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,2},{143,102}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{149,98}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,6},{149,98}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,256},{131,92}}</string>
                <key>offset</key>
                <string>{66,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,12},{131,92}}</string>
                <key>sourceSize</key>
                <string>{265,104}</string>
            </dict>
            <key>lucphebon1/bang_lpb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,148}}</string>
                <key>sourceSize</key>
                <string>{352,148}</string>
            </dict>
            <key>lucphebon1/chu_lpb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{203,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,41}}</string>
                <key>sourceSize</key>
                <string>{203,41}</string>
            </dict>
            <key>lucphebon1/doi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,446},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>lucphebon1/doi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,400},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,94}}</string>
                <key>sourceSize</key>
                <string>{99,94}</string>
            </dict>
            <key>lucphebon1/doi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,400},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>lucphebon1/doi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,350},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>lucphebon1/doiA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{101,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,94}}</string>
                <key>sourceSize</key>
                <string>{101,94}</string>
            </dict>
            <key>lucphebon1/doiK.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,304},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>lucphebon1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,195},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>lucphebon1/sao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,304},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>lucphebon1/tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{170,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,89}}</string>
                <key>sourceSize</key>
                <string>{170,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74df8a36ab1e26201fc5c80e769d2b51:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
