<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bacaithung1/bang_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,176}}</string>
                <key>sourceSize</key>
                <string>{360,176}</string>
            </dict>
            <key>Bacaithung1/bo1_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{180,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,138}}</string>
                <key>sourceSize</key>
                <string>{180,138}</string>
            </dict>
            <key>Bacaithung1/bo2_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{179,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,136}}</string>
                <key>sourceSize</key>
                <string>{179,136}</string>
            </dict>
            <key>Bacaithung1/bo3_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,500},{136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{136,120}</string>
            </dict>
            <key>Bacaithung1/chu_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{214,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,40}}</string>
                <key>sourceSize</key>
                <string>{214,40}</string>
            </dict>
            <key>Bacaithung1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,384},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Bacaithung1/sao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,615},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Bacaithung1/tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{193,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,101}}</string>
                <key>sourceSize</key>
                <string>{193,101}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,325},{28,29}}</string>
                <key>offset</key>
                <string>{-121,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,49},{28,29}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,603},{68,77}}</string>
                <key>offset</key>
                <string>{101,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,70},{68,77}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,355},{28,27}}</string>
                <key>offset</key>
                <string>{121,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,119},{28,27}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,222},{12,13}}</string>
                <key>offset</key>
                <string>{129,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,133},{12,13}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,615},{84,93}}</string>
                <key>offset</key>
                <string>{-94,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{84,93}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,170},{142,145}}</string>
                <key>offset</key>
                <string>{-65,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,145}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{166,145}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{166,145}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,437},{176,147}}</string>
                <key>offset</key>
                <string>{-28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{176,147}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,180},{158,139}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,16},{158,139}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,340},{158,137}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,26},{158,137}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,314},{148,121}}</string>
                <key>offset</key>
                <string>{61,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,42},{148,121}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{108,99}}</string>
                <key>offset</key>
                <string>{81,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,50},{108,99}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bbb76a4e3edae76a769ec68d07138e9:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
