<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_nut1/BG_dongy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,71},{77,49}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,122},{87,49}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,267},{95,49}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{99,49}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{101,49}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{101,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{101,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{101,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{99,49}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,238},{99,49}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,318},{93,49}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{83,49}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{83,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,53},{80,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,16}}</string>
                <key>sourceSize</key>
                <string>{80,16}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,339},{73,49}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{63,49}}</string>
                <key>offset</key>
                <string>{43,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,138},{53,47}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,2},{53,47}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,390},{43,41}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,8},{43,41}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,105},{33,31}}</string>
                <key>offset</key>
                <string>{58,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,18},{33,31}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,481},{23,21}}</string>
                <key>offset</key>
                <string>{63,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,28},{23,21}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,481},{13,13}}</string>
                <key>offset</key>
                <string>{68,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,36},{13,13}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,71},{3,3}}</string>
                <key>offset</key>
                <string>{-72,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{3,3}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,108},{15,15}}</string>
                <key>offset</key>
                <string>{-67,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{25,23}}</string>
                <key>offset</key>
                <string>{-62,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,70},{35,33}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,345},{47,43}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,187},{55,49}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{65,49}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>hbg_0000_B-t---u.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{106,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,31}}</string>
                <key>sourceSize</key>
                <string>{106,31}</string>
            </dict>
            <key>hbg_0001_So-chi.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,222},{87,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,43}}</string>
                <key>sourceSize</key>
                <string>{87,43}</string>
            </dict>
            <key>hbg_0007_-n-tr-ng.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,173},{87,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{87,47}</string>
            </dict>
            <key>hbg_0009_X-p-xong.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{127,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,36}}</string>
                <key>sourceSize</key>
                <string>{127,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:695caaa50038606e96e60c2b14c4dea1:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
