<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sanhrong1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,570},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,593},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,585},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,566},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,490},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,513},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,505},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,486},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,425},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,417},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,321},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>Sanhrong1/bang_sanhrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,163}}</string>
                <key>sourceSize</key>
                <string>{360,163}</string>
            </dict>
            <key>Sanhrong1/chu_sanhrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{195,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>Sanhrong1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,425},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Sanhrong1/sao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,646},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Sanhrong1/tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{197,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,103}}</string>
                <key>sourceSize</key>
                <string>{197,103}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,424},{33,55}}</string>
                <key>offset</key>
                <string>{-116,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,66},{33,55}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{83,101}}</string>
                <key>offset</key>
                <string>{91,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,19},{83,101}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,377},{45,57}}</string>
                <key>offset</key>
                <string>{110,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,31},{45,57}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,459},{29,43}}</string>
                <key>offset</key>
                <string>{118,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,35},{29,43}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{77,99}}</string>
                <key>offset</key>
                <string>{-94,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,46},{77,99}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{103,115}}</string>
                <key>offset</key>
                <string>{-81,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,31},{103,115}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,302},{121,131}}</string>
                <key>offset</key>
                <string>{-53,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{121,131}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,252},{123,137}}</string>
                <key>offset</key>
                <string>{-31,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,17},{123,137}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,167},{133,149}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,5},{133,149}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,127},{123,145}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,0},{123,145}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{123,145}}</string>
                <key>offset</key>
                <string>{48,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,0},{123,145}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,377},{107,117}}</string>
                <key>offset</key>
                <string>{68,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,7},{107,117}}</string>
                <key>sourceSize</key>
                <string>{267,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a04db753a09cf935b53bac4bb9f549d:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
