<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,382},{75,73}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,20},{75,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 11.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,303},{79,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{79,77}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,297},{83,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{83,83}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 13.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,192},{87,87}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{87,87}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 14.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{89,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{89,91}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 15.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,111},{93,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{93,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 16.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,93},{93,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{93,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 17.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,204},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{97,101}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 18.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{97,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{97,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 19.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,196},{99,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{99,105}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,493},{19,17}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{19,17}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 20.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,103},{99,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{99,107}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 21.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{99,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{99,109}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 22.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{101,111}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{101,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 23.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{101,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 24.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{99,111}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{99,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 25.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,228},{97,111}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{97,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 26.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,341},{97,111}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{97,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 27.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{97,111}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{97,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 28.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,341},{93,111}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{93,111}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 29.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{93,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{93,107}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,454},{27,27}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{27,27}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 30.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,101},{93,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{93,103}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 4.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,454},{37,33}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{37,33}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 5.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,454},{45,41}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,33},{45,41}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 6.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,454},{49,47}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,30},{49,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 7.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{57,55}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{57,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 8.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,382},{63,61}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{63,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 9.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,382},{69,67}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,22},{69,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec04927ebfdc0b9b63b4ad97014ffa4:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
