<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_xanh/BG_xepbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
            <key>BT_xanh/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,53},{80,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,16}}</string>
                <key>sourceSize</key>
                <string>{80,16}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,228},{77,49}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,75},{87,49}}</string>
                <key>offset</key>
                <string>{-32,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,177},{95,49}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{99,49}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{101,49}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{101,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{101,49}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{101,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{99,49}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,170},{99,49}}</string>
                <key>offset</key>
                <string>{21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{99,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,126},{93,49}}</string>
                <key>offset</key>
                <string>{28,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{83,49}}</string>
                <key>offset</key>
                <string>{33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{83,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,271},{73,49}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,279},{63,49}}</string>
                <key>offset</key>
                <string>{43,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,121},{53,47}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,2},{53,47}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,346},{43,41}}</string>
                <key>offset</key>
                <string>{53,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,8},{43,41}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,312},{33,31}}</string>
                <key>offset</key>
                <string>{58,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,18},{33,31}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,347},{23,21}}</string>
                <key>offset</key>
                <string>{63,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,28},{23,21}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,245},{13,13}}</string>
                <key>offset</key>
                <string>{68,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,36},{13,13}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,70},{3,3}}</string>
                <key>offset</key>
                <string>{-72,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{3,3}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,228},{15,15}}</string>
                <key>offset</key>
                <string>{-67,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,314},{25,23}}</string>
                <key>offset</key>
                <string>{-62,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,279},{35,33}}</string>
                <key>offset</key>
                <string>{-57,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,330},{47,43}}</string>
                <key>offset</key>
                <string>{-52,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,70},{55,49}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{65,49}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{151,51}</string>
            </dict>
            <key>hbg_0008_X-p-B-i.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{105,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddfb407ab3c7c5a8077e83d4d82052bc:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
