<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ngocvip1/Ngocvip1/lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>Ngocvip1/Ngocvip1/lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,563},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,74},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,202},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,959},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,929},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,810},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,938},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,969},{28,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,34}}</string>
                <key>sourceSize</key>
                <string>{28,34}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,850},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,400},{68,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,110}}</string>
                <key>sourceSize</key>
                <string>{68,110}</string>
            </dict>
            <key>Ngocvip1/lv10/Layer 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{67,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,110}}</string>
                <key>sourceSize</key>
                <string>{67,110}</string>
            </dict>
            <key>Ngocvip1/lv10/Vector Smart Object copy 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,225},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,104}}</string>
                <key>sourceSize</key>
                <string>{94,104}</string>
            </dict>
            <key>Ngocvip1/lv10/Vector Smart Object copy 8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{154,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,65}}</string>
                <key>sourceSize</key>
                <string>{154,65}</string>
            </dict>
            <key>Ngocvip1/lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{90,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>Ngocvip1/lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{90,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,104}}</string>
                <key>sourceSize</key>
                <string>{90,104}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,901},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,772},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,884},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,455},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,974},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>Ngocvip1/lv6/Layer 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,998},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>Ngocvip1/lv6/Vector Smart Object copy 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,759},{89,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,104}}</string>
                <key>sourceSize</key>
                <string>{89,104}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,667},{39,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,65}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,597},{38,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,68}}</string>
                <key>sourceSize</key>
                <string>{38,68}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,175},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,44},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,919},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,138},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>Ngocvip1/lv7/Layer 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,949},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>Ngocvip1/lv7/Vector Smart Object copy 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,655},{102,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,104}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,848},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,850},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,734},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,494},{26,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,969},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,959},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,961},{37,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,54}}</string>
                <key>sourceSize</key>
                <string>{37,54}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{67,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,111}}</string>
                <key>sourceSize</key>
                <string>{67,111}</string>
            </dict>
            <key>Ngocvip1/lv8/Layer 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,331},{67,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,111}}</string>
                <key>sourceSize</key>
                <string>{67,111}</string>
            </dict>
            <key>Ngocvip1/lv8/Vector Smart Object copy 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{71,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,104}}</string>
                <key>sourceSize</key>
                <string>{71,104}</string>
            </dict>
            <key>Ngocvip1/lv8/Vector Smart Object copy 10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,914},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,400},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{53,27}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,29}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,97},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,883},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,560},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,522},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,890},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{37,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,58}}</string>
                <key>sourceSize</key>
                <string>{37,58}</string>
            </dict>
            <key>Ngocvip1/lv9/Layer 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{134,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,116}}</string>
                <key>sourceSize</key>
                <string>{134,116}</string>
            </dict>
            <key>Ngocvip1/ngoc5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,470},{91,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,107}}</string>
                <key>sourceSize</key>
                <string>{91,107}</string>
            </dict>
            <key>sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e68faaf35975af1fd5863688e72dbdc:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
