<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 10.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,182},{79,83}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{79,83}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 11.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,180},{83,85}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,22},{83,85}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 12.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,95},{85,89}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{85,89}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 13.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,91},{87,91}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{87,91}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 14.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{87,93}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{87,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 15.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{91,95}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,95}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 16.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,400},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 17.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,301},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 18.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{93,99}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{93,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 19.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,99}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{93,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 2.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,68},{17,13}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{17,13}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 20.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{91,99}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{91,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 21.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,204},{91,99}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{91,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 22.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{91,99}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{91,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 23.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,101},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 24.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 25.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,202},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 26.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,404},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 27.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,305},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 28.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,103},{91,97}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{91,97}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 29.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{91,99}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{91,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 3.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,43},{29,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,52},{29,23}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 30.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{91,99}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{91,99}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 4.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{39,35}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,45},{39,35}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 5.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,180},{49,47}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{49,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 6.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,330},{59,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{59,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 7.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,265},{65,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{65,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 8.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,265},{71,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{71,71}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Symbol 9.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,263},{77,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{77,77}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14317f5c7949ad6019cac13400cbc092:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
