<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1/Group 2/Layer 17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/Group 2/Layer 18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,58}</string>
                <key>spriteSourceSize</key>
                <string>{211,58}</string>
                <key>textureRect</key>
                <string>{{0,138},{211,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/Group 2/Layer 19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,62}</string>
                <key>spriteSourceSize</key>
                <string>{211,62}</string>
                <key>textureRect</key>
                <string>{{0,196},{211,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1/Group 2/Layer 20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,19}</string>
                <key>spriteSourceSize</key>
                <string>{220,19}</string>
                <key>textureRect</key>
                <string>{{0,420},{220,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/Symbol 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{49,0},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/Symbol 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{106,0},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,80}</string>
                <key>spriteSourceSize</key>
                <string>{231,80}</string>
                <key>textureRect</key>
                <string>{{0,680},{231,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,80}</string>
                <key>spriteSourceSize</key>
                <string>{227,80}</string>
                <key>textureRect</key>
                <string>{{0,520},{227,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,81}</string>
                <key>spriteSourceSize</key>
                <string>{218,81}</string>
                <key>textureRect</key>
                <string>{{0,339},{218,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,81}</string>
                <key>spriteSourceSize</key>
                <string>{213,81}</string>
                <key>textureRect</key>
                <string>{{0,258},{213,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{234,80}</string>
                <key>textureRect</key>
                <string>{{0,1080},{234,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{234,80}</string>
                <key>textureRect</key>
                <string>{{0,1160},{234,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,80}</string>
                <key>spriteSourceSize</key>
                <string>{232,80}</string>
                <key>textureRect</key>
                <string>{{0,840},{232,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,80}</string>
                <key>spriteSourceSize</key>
                <string>{231,80}</string>
                <key>textureRect</key>
                <string>{{0,760},{231,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,80}</string>
                <key>spriteSourceSize</key>
                <string>{229,80}</string>
                <key>textureRect</key>
                <string>{{0,600},{229,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,81}</string>
                <key>spriteSourceSize</key>
                <string>{221,81}</string>
                <key>textureRect</key>
                <string>{{0,439},{221,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,81}</string>
                <key>spriteSourceSize</key>
                <string>{201,81}</string>
                <key>textureRect</key>
                <string>{{0,57},{201,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,80}</string>
                <key>spriteSourceSize</key>
                <string>{234,80}</string>
                <key>textureRect</key>
                <string>{{0,1240},{234,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,79}</string>
                <key>spriteSourceSize</key>
                <string>{234,79}</string>
                <key>textureRect</key>
                <string>{{0,1320},{234,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,80}</string>
                <key>spriteSourceSize</key>
                <string>{232,80}</string>
                <key>textureRect</key>
                <string>{{0,920},{232,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2/xz_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,80}</string>
                <key>spriteSourceSize</key>
                <string>{232,80}</string>
                <key>textureRect</key>
                <string>{{0,1000},{232,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{234,1399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f3d02ea933bf5bf6b2c48c0b38ffee8:ba3080af28707c5fb2e072be7606f15e:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
