<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0000.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,859},{116,63}}</string>
                <key>offset</key>
                <string>{46,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,32},{116,63}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>card0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,501},{119,67}}</string>
                <key>offset</key>
                <string>{45,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,22},{119,67}}</string>
                <key>sourceSize</key>
                <string>{209,89}</string>
            </dict>
            <key>card0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,359},{123,69}}</string>
                <key>offset</key>
                <string>{44,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,14},{123,69}}</string>
                <key>sourceSize</key>
                <string>{211,83}</string>
            </dict>
            <key>card0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,215},{124,70}}</string>
                <key>offset</key>
                <string>{44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,10},{124,70}}</string>
                <key>sourceSize</key>
                <string>{212,80}</string>
            </dict>
            <key>card0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,430},{121,69}}</string>
                <key>offset</key>
                <string>{45,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,16},{121,69}}</string>
                <key>sourceSize</key>
                <string>{211,85}</string>
            </dict>
            <key>card0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,702},{116,63}}</string>
                <key>offset</key>
                <string>{46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,32},{116,63}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>card0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,859},{116,62}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,30},{116,62}}</string>
                <key>sourceSize</key>
                <string>{208,92}</string>
            </dict>
            <key>card0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,570},{117,64}}</string>
                <key>offset</key>
                <string>{46,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,28},{117,64}}</string>
                <key>sourceSize</key>
                <string>{209,92}</string>
            </dict>
            <key>card0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,636},{116,64}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,30},{116,64}}</string>
                <key>sourceSize</key>
                <string>{208,94}</string>
            </dict>
            <key>card0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,850},{115,61}}</string>
                <key>offset</key>
                <string>{46,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,34},{115,61}}</string>
                <key>sourceSize</key>
                <string>{207,95}</string>
            </dict>
            <key>card0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,859},{115,69}}</string>
                <key>offset</key>
                <string>{46,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,30},{115,69}}</string>
                <key>sourceSize</key>
                <string>{207,99}</string>
            </dict>
            <key>card0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,855},{112,81}}</string>
                <key>offset</key>
                <string>{47,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,24},{112,81}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>card0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,913},{108,86}}</string>
                <key>offset</key>
                <string>{48,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,22},{108,86}}</string>
                <key>sourceSize</key>
                <string>{204,108}</string>
            </dict>
            <key>card0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,913},{108,85}}</string>
                <key>offset</key>
                <string>{48,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,22},{108,85}}</string>
                <key>sourceSize</key>
                <string>{204,107}</string>
            </dict>
            <key>card0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{137,81}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,26},{137,81}}</string>
                <key>sourceSize</key>
                <string>{217,107}</string>
            </dict>
            <key>card0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,706},{186,80}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{186,80}}</string>
                <key>sourceSize</key>
                <string>{242,110}</string>
            </dict>
            <key>card0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{230,78}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{230,78}}</string>
                <key>sourceSize</key>
                <string>{264,110}</string>
            </dict>
            <key>card0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,75}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,32},{247,75}}</string>
                <key>sourceSize</key>
                <string>{273,107}</string>
            </dict>
            <key>card0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{243,76}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{243,76}}</string>
                <key>sourceSize</key>
                <string>{271,106}</string>
            </dict>
            <key>card0019.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{235,79}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,26},{235,79}}</string>
                <key>sourceSize</key>
                <string>{267,105}</string>
            </dict>
            <key>card0020.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,80},{226,80}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{226,80}}</string>
                <key>sourceSize</key>
                <string>{262,104}</string>
            </dict>
            <key>card0021.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{221,81}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{221,81}}</string>
                <key>sourceSize</key>
                <string>{261,105}</string>
            </dict>
            <key>card0022.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,170},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0023.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,90},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0024.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0025.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,162},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0026.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,82},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0027.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{220,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,86}}</string>
                <key>sourceSize</key>
                <string>{260,110}</string>
            </dict>
            <key>card0028.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,618},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0029.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0030.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,690},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0031.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,610},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0032.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,530},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0033.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0034.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,602},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0035.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,522},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0036.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,442},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0037.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0038.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,514},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0039.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,434},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0040.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,354},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0041.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0042.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,426},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0043.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,346},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0044.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,266},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0045.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0046.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,338},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0047.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,258},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0048.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,178},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0049.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0050.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,250},{219,86}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{219,86}}</string>
                <key>sourceSize</key>
                <string>{259,110}</string>
            </dict>
            <key>card0051.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,698},{215,83}}</string>
                <key>offset</key>
                <string>{21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{215,83}}</string>
                <key>sourceSize</key>
                <string>{257,107}</string>
            </dict>
            <key>card0052.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{211,72}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{211,72}}</string>
                <key>sourceSize</key>
                <string>{255,104}</string>
            </dict>
            <key>card0053.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,778},{208,70}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{208,70}}</string>
                <key>sourceSize</key>
                <string>{254,102}</string>
            </dict>
            <key>card0054.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,783},{182,70}}</string>
                <key>offset</key>
                <string>{30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,32},{182,70}}</string>
                <key>sourceSize</key>
                <string>{242,102}</string>
            </dict>
            <key>card0055.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,287},{135,70}}</string>
                <key>offset</key>
                <string>{43,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,32},{135,70}}</string>
                <key>sourceSize</key>
                <string>{221,102}</string>
            </dict>
            <key>card0056.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,855},{110,70}}</string>
                <key>offset</key>
                <string>{50,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,32},{110,70}}</string>
                <key>sourceSize</key>
                <string>{210,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80f197669da1dd98512d89a86a9d13fd:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
