<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>333.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{763,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,762}}</string>
                <key>sourceSize</key>
                <string>{763,762}</string>
            </dict>
            <key>Symbol 1 copy 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{82,81}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>Symbol 11111.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,85},{57,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{57,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>light_ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{116,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{116,108}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeea8338288d243ebbc046b041610c09:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
