<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,25}</string>
                <key>spriteSourceSize</key>
                <string>{24,25}</string>
                <key>textureRect</key>
                <string>{{33,146},{24,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngoisao1/Layer 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngoisao1/Layer 846 copy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,72}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{0,74},{69,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngoisao1/Rectangle 3 copy 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{69,74},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ngoisao1/Shape 14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{0,146},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{57,146},{58,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{115,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceaf478e5bb996f874f346db26f88247:20a134342566685a1cae9181d52bf051:955889c78dae8125d649a22ceac316f3$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
