<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Jackpot1/1_Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{289,290}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,53},{289,290}}</string>
                <key>sourceSize</key>
                <string>{383,402}</string>
            </dict>
            <key>Jackpot1/1_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,532},{72,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{72,62}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
            <key>Jackpot1/Flare copy 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,559},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>Jackpot1/Flare copy 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,559},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>Jackpot1/Layer 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,595},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>Jackpot1/Layer 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,532},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>Jackpot1/Layer 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,293},{60,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,121}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>Jackpot1/Layer 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,497},{106,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,33}}</string>
                <key>sourceSize</key>
                <string>{106,33}</string>
            </dict>
            <key>Jackpot1/Layer 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,992},{65,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>Jackpot1/Layer 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,355},{111,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,140}}</string>
                <key>sourceSize</key>
                <string>{111,140}</string>
            </dict>
            <key>Jackpot1/Layer 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,293},{188,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,186}}</string>
                <key>sourceSize</key>
                <string>{188,186}</string>
            </dict>
            <key>Jackpot1/Layer 88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{354,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,107}}</string>
                <key>sourceSize</key>
                <string>{354,107}</string>
            </dict>
            <key>Jackpot1/Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{694,632}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,632}}</string>
                <key>sourceSize</key>
                <string>{694,632}</string>
            </dict>
            <key>Jackpot1/Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{18,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{18,19}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>Jackpot1/Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,992},{24,43}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,43}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>Jackpot1/Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,40},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>Jackpot1/Symbol 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,57},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>Jackpot1/Symbol 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,26}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>Jackpot1/Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,22},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>Jackpot1/Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,481},{180,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,76}}</string>
                <key>sourceSize</key>
                <string>{180,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:554f008a55d26185d577911ee4d0d482:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
