<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bacaithung1/bang_thung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,180}}</string>
                <key>sourceSize</key>
                <string>{359,180}</string>
            </dict>
            <key>Bacaithung1/bo1_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{198,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{198,142}}</string>
                <key>sourceSize</key>
                <string>{206,158}</string>
            </dict>
            <key>Bacaithung1/bo1_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{182,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,138}}</string>
                <key>sourceSize</key>
                <string>{182,138}</string>
            </dict>
            <key>Bacaithung1/bo2_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{197,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{197,139}}</string>
                <key>sourceSize</key>
                <string>{211,165}</string>
            </dict>
            <key>Bacaithung1/bo2_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,682},{176,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{176,130}}</string>
                <key>sourceSize</key>
                <string>{188,150}</string>
            </dict>
            <key>Bacaithung1/bo3_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,545},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{141,120}}</string>
                <key>sourceSize</key>
                <string>{161,146}</string>
            </dict>
            <key>Bacaithung1/bo3_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,667},{140,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{140,122}}</string>
                <key>sourceSize</key>
                <string>{154,140}</string>
            </dict>
            <key>Bacaithung1/chu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,471},{153,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>Bacaithung1/chu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,464},{153,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,72}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>Bacaithung1/sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,970},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Bacaithung1/sao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,782},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>Bacaithung1/tien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{193,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,101}}</string>
                <key>sourceSize</key>
                <string>{193,101}</string>
            </dict>
            <key>Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{28,29}}</string>
                <key>offset</key>
                <string>{-121,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,49},{28,29}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,712},{68,77}}</string>
                <key>offset</key>
                <string>{101,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,70},{68,77}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,970},{28,27}}</string>
                <key>offset</key>
                <string>{121,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,119},{28,27}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,545},{12,13}}</string>
                <key>offset</key>
                <string>{129,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,133},{12,13}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{84,93}}</string>
                <key>offset</key>
                <string>{-94,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{84,93}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,538},{142,145}}</string>
                <key>offset</key>
                <string>{-65,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,145}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,180},{166,145}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{166,145}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{176,147}}</string>
                <key>offset</key>
                <string>{-28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{176,147}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,184},{158,139}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,16},{158,139}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,325},{158,137}}</string>
                <key>offset</key>
                <string>{34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,26},{158,137}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,348},{148,121}}</string>
                <key>offset</key>
                <string>{61,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,42},{148,121}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
            <key>Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{108,99}}</string>
                <key>offset</key>
                <string>{81,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,50},{108,99}}</string>
                <key>sourceSize</key>
                <string>{272,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c19cba311c6667f836a2ba56b66a6d:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
