<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BG.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{341,96}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{341,96}}</string>
			<key>sourceSize</key>
			<string>{356,100}</string>
		</dict>
		<key>Layer 3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,457},{283,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,278}}</string>
			<key>sourceSize</key>
			<string>{283,278}</string>
		</dict>
		<key>Symbol 1111.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,192},{115,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,115}}</string>
			<key>sourceSize</key>
			<string>{115,115}</string>
		</dict>
		<key>bt_u.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,139},{127,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,39}}</string>
			<key>sourceSize</key>
			<string>{127,39}</string>
		</dict>
		<key>chu_Nhat.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,97},{106,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,47}}</string>
			<key>sourceSize</key>
			<string>{106,47}</string>
		</dict>
		<key>chu_U.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,192},{35,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,52}}</string>
			<key>sourceSize</key>
			<string>{35,52}</string>
		</dict>
		<key>chu_ukhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,0},{145,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,42}}</string>
			<key>sourceSize</key>
			<string>{145,42}</string>
		</dict>
		<key>chu_utron.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,43},{138,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,42}}</string>
			<key>sourceSize</key>
			<string>{138,42}</string>
		</dict>
		<key>flare.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,513},{188,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{188,188}}</string>
			<key>sourceSize</key>
			<string>{204,204}</string>
		</dict>
		<key>light copy.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,0},{19,77}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,1},{19,77}}</string>
			<key>sourceSize</key>
			<string>{116,79}</string>
		</dict>
		<key>light_ray.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,150},{330,306}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,10},{330,306}}</string>
			<key>sourceSize</key>
			<string>{355,326}</string>
		</dict>
		<key>sao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,107},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>sao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,150},{41,41}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{41,41}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>sao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,78},{30,28}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{30,28}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>sao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,107},{41,42}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{41,42}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>sao5.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,457},{55,55}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{55,55}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>top_u.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,86},{127,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,52}}</string>
			<key>sourceSize</key>
			<string>{127,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>texture.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>texture.png</string>
	</dict>
</dict>
</plist>
