<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cau_vong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{467,443}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{467,443}}</string>
                <key>sourceSize</key>
                <string>{487,487}</string>
            </dict>
            <key>effect_tia_vang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,560},{64,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,59}}</string>
                <key>sourceSize</key>
                <string>{64,59}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,521},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,47}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,471},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>tia_be.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{386,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{386,87}}</string>
                <key>sourceSize</key>
                <string>{388,91}</string>
            </dict>
            <key>tron_xoay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{218,189}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,189}}</string>
                <key>sourceSize</key>
                <string>{218,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{447,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:173b198cc1a7aadfacb35f63978bb8da:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
