<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,78}}</string>
                <key>sourceSize</key>
                <string>{113,78}</string>
            </dict>
            <key>chuminigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{76,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,48}}</string>
                <key>sourceSize</key>
                <string>{76,48}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,62}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{86,10}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{86,10}}</string>
                <key>sourceSize</key>
                <string>{116,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e20356daca6866414d4e162171deb58:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
