<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SIDE-POT-WINNER1/1_Symbol 6_sao.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{26,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SIDE-POT-WINNER1/Assets/Rounded Rectangle 3 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,79}}</string>
                <key>sourceSize</key>
                <string>{354,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87e5a886e7f19640a836a153b1f887e9:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
