<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{792,477}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{792,477}</string>
			</dict>
			<key>bgAvatar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,931},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>bgCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,503},{291,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,30}</string>
			</dict>
			<key>bgGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1800},{124,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,77}</string>
			</dict>
			<key>bgGiftRankInfo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,362},{426,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{426,106}</string>
			</dict>
			<key>bgGoldWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,990},{178,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,63}</string>
			</dict>
			<key>bgMedal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1067},{326,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{326,80}</string>
			</dict>
			<key>bgMiniRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,362},{502,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{502,333}</string>
			</dict>
			<key>bgRank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,362},{555,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,69}</string>
			</dict>
			<key>bgRank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,798},{555,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,69}</string>
			</dict>
			<key>bgRank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,921},{555,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,69}</string>
			</dict>
			<key>bgRankOther.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,921},{555,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,69}</string>
			</dict>
			<key>bgRankOtherMe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,1357},{555,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{555,69}</string>
			</dict>
			<key>bgReceiveGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,2},{770,356}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{770,356}</string>
			</dict>
			<key>bgTableRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1572,2},{601,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{601,409}</string>
			</dict>
			<key>bgTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,694},{292,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,29}</string>
			</dict>
			<key>borderBgMe.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,362},{557,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{557,73}</string>
			</dict>
			<key>btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{1893,1571},{40,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,46}</string>
			</dict>
			<key>btnCurWeek.png</key>
			<dict>
				<key>frame</key>
				<string>{{1979,798},{100,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,34}</string>
			</dict>
			<key>btnIndividual.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,573},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>btnIndividualInactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{2019,689},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>btnLastWeek.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,1278},{81,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,28}</string>
			</dict>
			<key>btnLastWeekInactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,1571},{81,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,28}</string>
			</dict>
			<key>btnMiniRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,1383},{52,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>btnReceiveNow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1988,1480},{165,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,58}</string>
			</dict>
			<key>btnThisWeek.png</key>
			<dict>
				<key>frame</key>
				<string>{{1692,1603},{81,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,28}</string>
			</dict>
			<key>btnThisWeekInactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,1571},{81,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,28}</string>
			</dict>
			<key>btnTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{2017,805},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>btnTopInactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,959},{112,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,27}</string>
			</dict>
			<key>btnUnderstood.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1303},{165,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,58}</string>
			</dict>
			<key>decorateReceiveGift0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,1649},{193,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,95}</string>
			</dict>
			<key>decorateReceiveGift1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1151},{229,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{229,86}</string>
			</dict>
			<key>iconCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,931},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>iconCupBig.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1151},{123,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,108}</string>
			</dict>
			<key>iconDownLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1852,1603},{27,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,37}</string>
			</dict>
			<key>iconGold.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1365},{154,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,97}</string>
			</dict>
			<key>iconGoldResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1888,931},{41,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,31}</string>
			</dict>
			<key>iconLayer0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1278},{19,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,72}</string>
			</dict>
			<key>iconLayer1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1925,990},{23,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,73}</string>
			</dict>
			<key>iconLayer2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,959},{23,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,73}</string>
			</dict>
			<key>iconLayer3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,1603},{22,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,71}</string>
			</dict>
			<key>iconMedalBig0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,1905},{81,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,108}</string>
			</dict>
			<key>iconMedalBig1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1881},{81,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,112}</string>
			</dict>
			<key>iconMedalBig2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1384},{89,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,112}</string>
			</dict>
			<key>iconRankLobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{1896,1301},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>iconTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{1976,902},{12,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,20}</string>
			</dict>
			<key>iconUpLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,1439},{27,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,38}</string>
			</dict>
			<key>imgNotOpen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1769},{132,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,138}</string>
			</dict>
			<key>imgTimeUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,1846},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>
			<key>imgTruCup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,794},{126,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,161}</string>
			</dict>
			<key>level0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1571},{53,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,51}</string>
			</dict>
			<key>level1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,607},{83,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,48}</string>
			</dict>
			<key>level2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,990},{102,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,56}</string>
			</dict>
			<key>progressBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,737},{130,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,18}</string>
			</dict>
			<key>progressImg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1966,607},{126,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{126,14}</string>
			</dict>
			<key>rank0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1649},{147,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,131}</string>
			</dict>
			<key>rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1151},{148,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,132}</string>
			</dict>
			<key>rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1767,794},{148,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,133}</string>
			</dict>
			<key>rank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1772,1635},{148,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,130}</string>
			</dict>
			<key>titleBXH.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,1480},{347,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,87}</string>
			</dict>
			<key>titleGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,871},{102,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,15}</string>
			</dict>
			<key>titleIndividual.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,607},{346,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,92}</string>
			</dict>
			<key>titleNoGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,224},{275,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,35}</string>
			</dict>
			<key>titleRank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1819,1050},{38,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,13}</string>
			</dict>
			<key>titleReceiveGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1985,2},{218,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{218,60}</string>
			</dict>
			<key>titleReceiveGiftBXH.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,224},{180,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,16}</string>
			</dict>
			<key>titleReceiveGiftMini.png</key>
			<dict>
				<key>frame</key>
				<string>{{2024,408},{161,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,17}</string>
			</dict>
			<key>titleResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,1365},{80,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,14}</string>
			</dict>
			<key>titleTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,703},{356,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,87}</string>
			</dict>
			<key>titleUser.png</key>
			<dict>
				<key>frame</key>
				<string>{{1957,977},{86,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,14}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>newRank.png</string>
			<key>realTextureFileName</key>
			<string>newRank.png</string>
			<key>size</key>
			<string>{2048,2015}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2015</integer>
		</dict>
	</dict>
</plist>