<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Symbol 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Title1/Rectangle 1 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{76,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,2}}</string>
                <key>sourceSize</key>
                <string>{76,2}</string>
            </dict>
            <key>Title1/Rectangle 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{91,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,2}}</string>
                <key>sourceSize</key>
                <string>{91,2}</string>
            </dict>
            <key>Title1/Rectangle 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,12},{106,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,2}}</string>
                <key>sourceSize</key>
                <string>{106,2}</string>
            </dict>
            <key>Title1/Rectangle 2 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>Title1/Rectangle 2 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>Title1/Rectangle 2 copy 3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,7},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>Title1/Rectangle 2 copy 3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>Title1/tranhHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,26}}</string>
                <key>sourceSize</key>
                <string>{245,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ae166020796903ad6467005cd019682:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
