<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cau_vong.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,367},{357,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{357,340}}</string>
                <key>sourceSize</key>
                <string>{361,344}</string>
            </dict>
            <key>effect_tia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{465,439}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,48},{465,439}}</string>
                <key>sourceSize</key>
                <string>{479,493}</string>
            </dict>
            <key>tia_sau.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{370,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{370,363}}</string>
                <key>sourceSize</key>
                <string>{374,367}</string>
            </dict>
            <key>tron_xoay.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{170,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,147}}</string>
                <key>sourceSize</key>
                <string>{174,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cd0209a065fa11d8964d1100bf6d6a:1/1$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
